<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>San Antonio: The People + The System</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="../../css/reveal.min.css">
		<link rel="stylesheet" href="../../css/theme/sanan.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="../../lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = '../../css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">

				<!-- SECTON ONE -->
				<section data-background="#405952">
					<hr class="line-top">
					<h1>San Antonio</h1>
					<h5 class="sans-cond">navigating the system shouldn't be this hard</h5>	
					<hr class="line-bottom">
					<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
				</section>
				<!--END SECTION ONE-->

				<!-- SECTION TWO -->
				<section data-background="#5D917D">

					<section>
						<hr class="line-top">
						<h1>On The Rise</h1>
						<h5 class="sans-cond">san antonio is changing ... quickly</h5>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section data-background-image="../../img/unlock.jpg">
						<div class="half-left-test">
							<hr class="line-top onwhite">
							<h2 class="onwhite">San Antonio is a very old city</h3>
							<h6 class="sans-bold onwhite"><small>older than the united states</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

					<section data-background-image="../../img/closing.jpg">
						<div class="half-left-test">
							<hr class="line-top onwhite">
							<h2 class="onwhite">Locals call it a big small town</h3>
							<h6 class="sans-bold onwhite"><small>it's still all about who you know</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

					<section data-background-image="../../img/mayor1.jpg">
						<div class="half-smaller">
							<hr class="line-top onwhite">
							<h2 class="onwhite">The city's moment has come</h3>
							<h6 class="sans-bold onwhite"><small>
								<span class="fragment">&bull; a visionary mayor</span><br>
								<span class="fragment">&bull; google fiber</span><br>
								<span class="fragment">&bull; entrepreneur community</span>
							</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

					<section data-background-image="../../img/hugh.jpg">
						<div class="half-smaller">
							<hr class="line-top onwhite">
							<h2 class="onwhite">Our city partners want to seize it</h3>
							<h6 class="sans-bold onwhite"><small>cto hugh miller wants bring the city into the 21st century</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

				</section>
				<!--END SECTION TWO-->

				<!-- SECTION THREE -->
				<section data-background="#E74C3C">

					<section>
						<hr class="line-top">
						<h1>Empowerment</h1>
						<h5 class="sans-cond">rules exist for a reason. how do we make them easy to follow?</h5>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section data-background-image="img/code.jpg">
						<div class="half-left-test">
							<hr class="line-top onwhite">
							<h2 class="onwhite">The city's code must be enforced</h3>
							<h6 class="sans-bold onwhite"><small>but the rules shouldn't be impossible<br>to find and understand</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

					<section data-background-image="img/history.jpg">
						<div class="half-left-test">
							<hr class="line-top onwhite">
							<h2 class="onwhite">The history of the city matters</h3>
							<h6 class="sans-bold onwhite"><small>but the preserving that history shouldn't create a maze</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

					<section data-background-image="img/history.jpg">
						<div class="half-left-test">
							<hr class="line-top onwhite">
							<h2 class="onwhite">People use these things every day.</h2>
							<h2 class="onwhite">So why are they<br>so confusing?</h2>
							<h6 class="sans-bold onwhite"><small>interactions with the city should be simple and useful</small></h6>
							<hr class="line-bottom onwhite">
							<p class="drophed onwhite"><span class="bold-ish onwhite">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
						</div>
					</section>

					<section>
						<img src="img/lightbulb.png" width="40%">
						<div style="position:absolute;top:35%;right:20px"><h1>Lightbulb</h1><h6>remove the barriers and they will come</h6></div>
					</section>

				</section>
				<!--END SECTION THREE-->

				<!--SECTION FOUR-->
				<section data-background="#36362C">

					<section>
						<hr class="line-top">
						<h1>Bridging The Gap</h1>
						<h5 class="sans-cond">we want to connect people with tools they need</h5>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<!--<div style="position:fixed;top:-110px;left:30px;"><h3>The people</h3></div>
						<div style="position:fixed;top:-40px;left:20px;"><img src="img/house.png" width="250px"></div>
						<div style="position:fixed;top:-110px;left:670px;"><h3>The system</h3></div>
						<div style="position:fixed;top:-40px;left:670px;"><img src="img/govt.png" width="240px"></div>
						<div class="fragment">
							<div style="position:fixed;top:-110px;left:360px;"><h3>Our target</h3></div>
							<div style="position:fixed;top:0px;left:370px;"><img src="img/bothways.png" width="200px"></div>
						</div>
						<div class="threecol-left">
							<img src="img/house.png" width="100%">
						</div>
						<div class="threecol-middle">
							<img src="img/govt.png" width="100%">
						</div>
						<div class="threecol-right">
							<img src="img/bothways.png" width="100%">
						</div>-->
						<img class="img-center" src="img/arrows.png" width="100%">
					</section>

					<section>
						<img src="img/house.png" width="40%">
						<div style="position:absolute;top:30%;left:450px;"><h2 style="line-height:70px;">I want a better home and better community.</h2></div>
					</section>

					<section>
						<hr class="line-top">
						<h3 class="sans-cond">How? Through fixing up my home with</h3>
						<h1 class="sans-condbold huge">REPAIRS</h1>
						<h3 class="sans-cond">and by helping my neighbors as a</h3>
						<h1 class="sans-condbold huge">VOLUNTEER</h1>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<img src="img/govt.png" width="40%">
						<div style="position:absolute;top:30%;left:450px;"><h2 style="line-height:70px;">We want to make sure it's done right<br>... and help.</h2></div>
					</section>

					<section>
						<hr class="line-top">
						<h3 class="sans-cond">How? By administering</h3>
						<h1 class="sans-condbold huge">PERMITS</h1>
						<h3 class="sans-cond">and by offering incentives to fix homes with</h3>
						<h1 class="sans-condbold huge">GRANTS</h1>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<hr class="line-top">
						<h3 style="color:yellow" class="sans-cond">The goals are aligned, but we've still got a </h3>
						<h1 style="color:yellow" class="sans-condbold huge">DISCONNECT</h1>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<hr class="line-top">
						<h3 class="sans-cond">We want to make the system seem less</h3>
						<h1 class="sans-condbold huge">COMPLEX</h1>
						<h3 class="sans-cond">and help it move</h3>
						<h1 class="sans-condbold huge">FASTER</h1>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

				</section>
				<!--END SECTION FOUR-->

				<!-- SECTION FIVE -->
				<section data-background="#445878">

					<section>
						<hr class="line-top">
						<h1>Our Solutions</h1>
						<h5 class="sans-cond">or how to create an empathetic system</h5>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<hr class="line-top">
						<h1 class="sans-bold">1. HouseRefresh</h1>
						<h3 class="sans-cond">Your one-stop shop to fix up your house.</h3>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<hr class="line-top">
						<h3 class="sans-cond">Apply for the</h3>
						<h1 class="sans-condbold">PERMITS</h1>
						<h3 class="sans-cond">Discover the</h3>
						<h1 class="sans-condbold">GRANTS</h1>
						<h3 class="sans-cond">Find some</h3>
						<h1 class="sans-condbold">LABOR</h1>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section>
						<hr class="line-top">
						<h2 class="sans-med">We're ready to test this month:</h2>
						<h3 class="sans-cond fragment"><span class="flaticon-laptop1"></span>&nbsp;Web prototype</h3>
						<h3 class="sans-cond fragment"><span class="flaticon-note20"></span>&nbsp;Paper prototype</h3>
						<h3 class="sans-cond fragment"><span class="flaticon-hierarchical5"></span>&nbsp;Backend system</h3>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section data-background-image="img/webproto.JPG">
					</section>

					<section data-background-image="img/paperproto.JPG">
					</section>

					<section>
						<hr class="line-top">
						<h1 class="sans-bold">2. Door Hangers</h1>
						<h3 class="sans-cond">Making Code Enforcement tickets make sense.</h3>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

					<section data-background-image="img/doorhanger.jpg">
					</section>

					<section data-background-image="img/newhanger.jpg">
					</section>

					<section>
						<hr class="line-top">
						<h1 class="sans-bold">3. Open It Up</h1>
						<h3 class="sans-cond">Release the data we're using as we go.</h3>
						<hr class="line-bottom">
						<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
					</section>

				</section>
				<!--END SECTION FIVE-->

				<!-- SECTION SIX -->
				<section data-background="#962D3E">
					<hr class="line-top">
					<h1>Thanks</h1>
					<h4 class="sans-cond"><a href="http://techzans.github.io/house-refresh-prototype">[ Check out our HouseRefresh prototype ]</a></h4>
					<h4 class="sans-cond"><a href="http://techzans.github.io/house-refresh-prototype">[ See the code on Github ]</a></h4>
					<h4 class="sans-cond"><a href="http://techzans.github.io/house-refresh-prototype">[ Read our blog ]</a></h4>
					<hr class="line-bottom">
					<p class="drophed"><span class="bold-ish">TECHZANS:</span> NAVIGATING SAN ANTONIO</p>
				</section>
				<!--END SECTION SIX-->


			</div>

		</div>

		<script src="../../lib/js/head.min.js"></script>
		<script src="../../js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,
				touch: true,
				hideAddressBar: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

			    multiplex: {
			        // Example values. To generate your own, see the socket.io server instructions.
			        secret: '13970264954806760730', // null so the clients do not have control of the master presentation
			        id: '746a343adb0d2328', // id, obtained from socket.io server
			        url: 'revealjs.jit.su:80' // Location of socket.io server
			    },


				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '../../lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '../../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '../../plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '../../plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js', async: true },
			        { src: '../../plugin/multiplex/master.js', async: true }
				]
			});

		</script>

	</body>
</html>
